.about {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 42px 0 108px;
    }

    &__text {
        margin-bottom: 58px;
        
        &-pretitle {
            h3 {
                font-family: @Kaushan;
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 44px;
                text-align: center;
                padding: 18px 0;
                color: @shark-color-text;
            }
        }

        &-title {
            h2 {
                font-style: normal;
                font-weight: 900;
                font-size: 36px;
                line-height: 42px;
                text-align: center;
                padding: 20px;
                text-transform: uppercase;
                margin-bottom: 24px;
                color: @shark-color-text;
            }
        }

        &-desc {
            h5 {
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                padding: 38px 0;
                color: @black-color-text;
            }
        }
    }

    &__images {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__image {
        max-width: 370px;
        height: 338px;
        width: 100%;
        background-size: cover !important;
        transition: all 0.5s ease-in-out;

        &-hover {
            width: 100%;
            height: 100%;
            background: @background-gradient-2;
            margin: -16px 0 0 -16px;
            padding: 129px 0 111px;
            display: none;
            cursor: pointer;
            transition: all 0.5s ease-in-out;

            img {
                display: flex;
                margin: 0 auto;
                margin-bottom: 30px;

            }

            p {
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                text-align: center;
                text-transform: uppercase;
                color: @white-color-text;
            }
        }

        &:first-child {
            background: url(../image/about1.png);
        }

        &:nth-child(2) {
            background: url(../image/about2.png);
        }

        &:last-child {
            background: url(../image/about3.png);
        }

        &:hover {
            background: @morning-backround-color;

            > .about__image-hover {
                display: block;
            }
        }
    }


}