.clients {
    background-image: url(../image/review_img.png);
    background-size: cover;

    &__blur {
        background: @blur-background-color;
    }

    &__wrapper {
        width: 100%;
        padding: 42px 0;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__card {
        max-width: 550px;
        display: flex;
        justify-content: space-between;
        margin-top: 42px;

        &-photo {
            max-width: 130px;
            width: 100%;
            margin-right: 25px;
        }

        &-user {
            max-width: 370px;
            margin-left: 25px;
            
            &__info {
                &-name {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 28px;
                    text-transform: uppercase;
                    color: @shark-color-text;
                    padding: 12px 0;
                }

                &-job {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 21px;
                    text-transform: uppercase;
                    color: @shark-color-text;
                }

                &-divider {
                    width: 70px;
                    height: 4px;
                    background-color: @froly-color;
                    margin: 32px 0;
                }
            }

            &__review {
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: @shark-color-text;
                padding: 32px 0;
            }
        }
    }
}