.device {
    background-image: url(../image/design_img.png);
    background-size: cover;

    &__blur {
        width: 100%;
        background: @blur-background-color;
    }

    &__wrapper {
        width: 100%;
        padding: 42px 0 57px;
    }

    &__images {
        display: flex;
        position: relative;
        max-width: 670px;
        margin: 59px auto 0;

        &-tablet {
            background-image: url(../image/tablet_img.png);
            background-size: cover;
            border-radius: 35px;

            img {
                height: 100%;
            }
        }

        &-mobile {
            position: absolute;
            bottom: -112px;
            right: -57px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .device {
        &__wrapper {
            padding: 29px 0 39px;
    
            &__images {
                margin: 0 auto;
                max-width: 521px; 

                &-mobile {
                    max-width: 136px;
                    bottom: -67px;
                    right: -29px;
                }
            }
        }
    }
}

@media screen and (max-width: 805px) {
    .device {
        &__images {
            max-width: 380px;
    
            &-mobile {
                max-width: 100px;
                bottom: -54px;
                right: -19px;
            }
        }
    }
}

@media screen and (max-width: 440px) {
    .device {
    
        &__wrapper {
            padding: 42px 0 25px;
        }
    
        &__images {
            max-width: 286px;

            &-mobile {
                max-width: 85px;
                bottom: -54px;
                right: 29px;
            }
        }
    }
}