.map {
    background-image: url(../image/map_big.png);
    background-size: cover;
    background-position: center;

    &__blur {
        background-color: @blur-background-color;
    }

    &__wrapper {
        width: 100%;
        padding: 42px 0;
    }

    &__ico {
        img {
            margin: 0 auto;
        }
    }

    &__title {
        color: @froly-color;
        margin-bottom: 24px;

        h2 {
            font-style: normal;
            font-weight: 900;
            font-size: 36px;
            line-height: 42px;
            text-align: center;
            text-transform: uppercase;
            padding: 20px 0;
        }
    }
}

@media screen and (max-width: 1024px) {
    .map {
    
        &__wrapper {
            padding: 28px 0;
        }
    
        &__ico {
            img {
                max-width: 28px;
                max-height: 28px;
            }
        }
    
        &__title {
            color: @froly-color;
            margin-bottom: 16px;
    
            h2 {
                font-size: 24px;
                line-height: 28px;
                padding: 14px 0;
            }
        }
    }
}