.map {
    .container {
        padding: 0;
    }

    &__wrapper {
        width: 100%;
        margin: 42px 0;
        position: relative;
        overflow: hidden;

        &:hover {
            > .map__label {
                transform: translate(-50%, 200%);
            }

            > .map__google {
                opacity: 1;
            }
        }
    }

    &__label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        transition: all 1s ease-in-out;
    }

    &__title {
        color: @froly-color;
        margin-bottom: 24px;

        h2 {
            font-style: normal;
            font-weight: 900;
            font-size: 36px;
            line-height: 42px;
            text-align: center;
            text-transform: uppercase;
            padding: 20px 0;
        }
    }

    &__google {
        width: 100%;
        opacity: 0.2;
        transition: all 1s ease-in-out;

        iframe {
            width: 100%;
            height: 300px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .map {
    
        &__wrapper {
            margin: 28px 0;
        }
    
        &__title {
            color: @froly-color;
            margin-bottom: 16px;
    
            h2 {
                font-size: 24px;
                line-height: 28px;
                padding: 14px 0;
            }
        }

        &__google {
    
            iframe {
                height: 231px;
            }
        }
    }
}