.partners {
    background-color: @alabaster-background-color;

    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 42px 0;

        > .partners__item {
            &:nth-child(3) {
                padding: 30px 28px;
            }
    
            &:nth-child(4) {
                padding: 24px;
            }
    
            &:nth-child(5) {
                padding: 30px 29px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .partners {
        &__wrapper {
            padding: 28px 0;
    
            > .partners__item {
                max-width: 86px;

                &:nth-child(3) {
                    padding: 21px 19px;
                }
        
                &:nth-child(4) {
                    padding: 16px;
                }
        
                &:nth-child(5) {
                    padding: 21px 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .partners {
    
        &__wrapper {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(3, auto);
            padding: 28px 0 22px;

            > .partners__item {

                &:first-child,
                &:nth-child(4) {
                    grid-column: 1;
                }

                &:nth-child(3),
                &:last-child {
                    grid-column: 2;
                }

                &:nth-child(2),
                &:nth-child(5) {
                    grid-column: 3;
                }
            }
        }
    }
}