@Raleway: 'Raleway', sans-serif;
@Montserrat:'Montserrat', sans-serif;
@Kaushan: 'Kaushan Script', cursive;


@froly-color:#F38281;

@white-color: #FFFFFF;
@gold-color: #E4BE8D;
@citrine-color: #F9EFCF;
@manhattan-color: #F4BF87;

@background-gradient:linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);

@white-color-text: #FFFFFF;