.service-two {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 42px 0 114px;
    }

    &__content {
        display: flex;
        width: 100%;
        max-height: 483px;

        &-image {
            display: flex;
            flex-grow: 1;
            width: 100%;
            margin-right: 30px;
        }

        &-accordions {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            width: 100%;

            .accordion {
                @acordion_header_height: 92px;
                @acordion_margin: 22px;
                
                display: flex;
                flex-direction: column;
                border: 1px solid @silver-color;
                margin-bottom: @acordion_margin;
                height: calc(@acordion_header_height + 2px);

                &__header {
                    display: flex;
                    align-items: center;
                    height: @acordion_header_height;

                    &-image {
                        padding-left: 21px;
                    }

                    &-title {
                        max-width: 370px;
                        width: 100%;

                        h3 {
                            font-style: normal;
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 28px;
                            display: flex;
                            align-items: center;
                            text-transform: uppercase;
                            padding: 0 44px;
                            color: @shark-color-text;
                        }
                    }

                    &-arrow {
                        margin:0 14px 0 auto;
                        cursor: pointer;
                    }
                }

                &__body {
                    display: none;
                    border-top: 1px solid @silver-color;
                    padding: 20px;

                    p {
                        overflow-y: auto;


                        &::-webkit-scrollbar {
                            width: 7px;
                            height: 128px;
                            background-color: @wild-background-color;
                        }

                        &::-webkit-scrollbar-thumb {
                            background-color: @morning-backround-color;
                            height: 60px;
                            width: 7px;
                        }
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
                
                &-open {
                    height: calc(100% - @acordion_header_height * 2 - @acordion_margin * 2 - 4px);
                    transition: all 0.75s linear;

                    .accordion__body {
                        display: flex;
                        height: calc(100% - @acordion_header_height);
                    }

                    .accordion__header-arrow {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1024px) {
    .service-two {
        &__content {
            max-height: 409px;
            &-accordions {
                .accordion {
                    @acordion_tablet_header_height: 78px;
                    @acordion_tablet_margin: 18px;

                    margin-bottom: @acordion_tablet_margin;
                    height: calc(@acordion_tablet_header_height + 2px);
    
                    &__header {
                        height: @acordion_tablet_header_height;
                        &-title {
                            h3 {
                                font-size: 18px;
                                line-height: 21px;
                            }
                        }
                    }
                    
                    &-open {
                        height: calc(100% - @acordion_tablet_header_height * 2 - @acordion_tablet_margin * 2 - 4px);
    
                        .accordion__body {
                            height: calc(100% - @acordion_tablet_header_height);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 711px) {
    .service-two {
        &__content {
            max-height: 301px;
            &-accordions {
                .accordion {
                    @acordion_tablet_header_height: 56px;
                    @acordion_tablet_margin: 10px;

                    margin-bottom: @acordion_tablet_margin;
                    height: calc(@acordion_tablet_header_height + 2px);
    
                    &__header {
                        height: @acordion_tablet_header_height;

                        &-title {
                            h3 {
                                padding: 0 10px;
                            }
                        }
                    }

                    &__body {
                        padding: 12px;
                    }
                    
                    &-open {
                        height: calc(100% - @acordion_tablet_header_height * 2 - @acordion_tablet_margin * 2 - 4px);
    
                        .accordion__body {
                            height: calc(100% - @acordion_tablet_header_height);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .service-two {
        &__wrapper {
            padding: 42px 0 31px;
        }
    
        &__content {
            flex-direction: column;
            width: 100%;
            max-height: 100%;
    
            &-image {
                flex-grow: 1;
                width: 100%;
                margin: 0 auto 29px;
            }
    
            &-accordions {
                flex-grow: 1;
    
                .accordion {
                    @acordion_tablet_header_height: 56px;
                    @acordion_tablet_margin: 10px;

                    margin-bottom: @acordion_tablet_margin;
                    height: calc(@acordion_tablet_header_height + 2px);
                    max-height: calc(@acordion_tablet_header_height + 2px);
                    overflow: hidden;

                    &__header {
                        height: @acordion_tablet_header_height;

                        &-title {
                            h3 {
                                padding: 0 10px;
                            }
                        }
                    }

                    &__body {
                        max-height: 138px;
                    }
                    
                    &-open {
                        height: 100%;
                        max-height: 300px;
                    }
                }
            }
        }
    }
}